body{
    background-color: black;
background-image: url(img/fondo.jpg) ;
}
h3{
    color: aliceblue;
    text-align: center;
}
.minecraft{
    width: 20px;
    margin-left: 39%;
    image-resolution: 20%;
}
.boton{
    color: darkgreen;
}
.fotos{
    width: 20px;
    margin: 2%;
    border-radius: 12px;
}
.inicio{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}
.texto{
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
}
h1{font-size: x-large;
    margin: 3%;
}
